In [1]:
import pandas as pd
import sys
from pathlib import Path

In [2]:
# Add the project root 'defaidtics' folder to sys.path so Python can find src
project_root = Path(r"C:\Users\snaja\OneDrive\defaidX")
sys.path.append(str(project_root))

from src.utils import get_country_coords_from_csv

2025-05-27 18:56:51.436 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-05-27 18:56:51.452 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [3]:
# Load GDP data
share_gdp_path = Path(r"C:\\Users\snaja\\OneDrive\\defaidX\\data\\clean\\sipri\\milexp_share_gdp_complete_long_1992-2023.csv")
df_share_gdp = pd.read_csv(share_gdp_path)

# Check the column names to prepare for merging
df_share_gdp.head()

   Year  Country  Defense_Share_GDP
0  1992  Albania           1.517217
1  1993  Albania           1.558592
2  1994  Albania           1.528266
3  1995  Albania           1.487083
4  1996  Albania           1.408982

In [4]:
# Load USD data ===
# Load defense spending data
gdp_path = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\clean\\wb\\gdp_complete_long_1992-2023.csv")
df_gdp = pd.read_csv(gdp_path)
# Check the column names to prepare for merging
df_gdp.head(10)

   Year  Country          GDP
0  1992  Albania  3527.709062
1  1993  Albania  3864.937294
2  1994  Albania  4185.837882
3  1995  Albania  4743.489157
4  1996  Albania  5175.146643
5  1997  Albania  4610.021454
6  1998  Albania  5017.059783
7  1999  Albania  5663.799109
8  2000  Albania  6057.218862
9  2001  Albania  6559.562959

In [5]:
# Load defense spending data
share_gov_path = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\clean\\sipri\\milexp_share_gov_complete_long_1992-2023.csv")
df_share_gov = pd.read_csv(share_gov_path)
# Check the column names to prepare for merging
df_share_gov.head()

   Year  Country  Defense_Share_GOV
0  1992  Albania           4.424699
1  1993  Albania           4.424699
2  1994  Albania           4.424699
3  1995  Albania           4.424699
4  1996  Albania           4.424699

In [6]:
# Load defense spending data
usd_path = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\clean\\sipri\\milexp_usd_complete_long_1992-2023.csv")
df_usd = pd.read_csv(usd_path)
# Check the column names to prepare for merging
df_usd.head()

   Year  Country  Defense_USD
0  1992  Albania   165.549892
1  1993  Albania   151.533514
2  1994  Albania   144.847392
3  1995  Albania   134.975891
4  1996  Albania   121.210260

In [7]:
df_share_gdp['Country'] = df_share_gdp['Country'].str.strip()
df_share_gov['Country'] = df_share_gov['Country'].str.strip()
df_usd['Country'] = df_usd['Country'].str.strip()
df_gdp['Country'] = df_gdp['Country'].str.strip()

In [8]:
# Normalized naming convention (e.g., World Bank standard or your project choice)
rename_map = {
    'United States of America': 'United States',
    'Korea, South': 'South Korea',
    'South Korea': 'South Korea',
    'TÃ¼rkiye': 'Turkey',
    'Turkiye': 'Turkey',
    'Iran': 'Iran',
    'Iran, Islamic Rep.': 'Iran',
    'Egypt': 'Egypt',
    'Egypt, Arab Rep.': 'Egypt',
    'Russia': 'Russia',
    'Russian Federation': 'Russia',
    'Slovakia': 'Slovakia',
    'Slovak Republic': 'Slovakia',
    'Cape Verde': 'Cabo Verde',
    'Brunei': 'Brunei',
    'Brunei Darussalam': 'Brunei',
    'Czechia': 'Czech Republic',
    'Czech Republic': 'Czech Republic',
    'Viet Nam': 'Vietnam',
    'Korea, Rep.': 'South Korea'
    # Add others as needed
}

# Apply the mapping to both datasets (important!)
df_share_gdp['Country'] = df_share_gdp['Country'].replace(rename_map)
df_share_gov['Country'] = df_share_gov['Country'].replace(rename_map)
df_usd['Country'] = df_usd['Country'].replace(rename_map)
df_gdp['Country'] = df_gdp['Country'].replace(rename_map)

In [9]:
print("==== DF_USD ====")
df_usd.info()
print("\n==== DF_GDP ====")
df_gdp.info()
print("\n==== DF_SHARE_GDP ====")
df_share_gdp.info()
print("\n==== DF_SHARE_GOV ====")
df_share_gov.info()

==== DF_USD ====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4352 entries, 0 to 4351
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         4352 non-null   int64
 1   Country      4352 non-null   object
 2   Defense_USD  4352 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 102.1+ KB

==== DF_GDP ====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5856 entries, 0 to 5855
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     5856 non-null   int64
 1   Country  5856 non-null   object
 2   GDP      5856 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 137.4+ KB

==== DF_SHARE_GDP ====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4128 non-null   int64
 1   Country            4128 non-null   object
 2   Defense_Share_GDP  4128 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 96.9+ KB

==== DF_SHARE_GOV ====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4224 non-null   int64
 1   Country            4224 non-null   object
 2   Defense_Share_GOV  4224 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 99.1+ KB

In [10]:
print("\n==== DF_SHARE_GOV ====")
df_share_gov.info()

==== DF_SHARE_GOV ====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4224 non-null   int64
 1   Country            4224 non-null   object
 2   Defense_Share_GOV  4224 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 99.1+ KB

In [30]:
# Step 0: Rename value columns to reflect what they actually are
#df_share_gov = df_share_gov.rename(columns={'Defense_Share_GOV': 'Defense_Share_GOV'})
#df_share_gdp = df_share_gdp.rename(columns={'Defense_Share_GOV': 'Defense_Share_GDP'})
#df_usd       = df_usd.rename(columns={'Defense_Share_GOV': 'Defense_USD'})  # e.g., original column name was reused
#df_gdp       = df_gdp.rename(columns={'GDP': 'GDP'})  # Optional, for clarity

# Step 1: Merge in the proper order
df_merged = df_share_gov.merge(df_share_gdp, on=['Country', 'Year'], how='inner')
df_merged = df_merged.merge(df_usd,       on=['Country', 'Year'], how='inner')
df_merged = df_merged.merge(df_gdp,       on=['Country', 'Year'], how='inner')

# Step 2: Reorder for readability
#df_merged = df_merged[['Year', 'Country', 'Defense_Share_GOV', 'Defense_Share_GDP', 'Defense_USD', 'GDP']]
df_merged.tail(50)

,Year,Country,Defense_Share_GOV,Defense_Share_GDP,Defense_USD,GDP
3790,2006,United States,11.997477,3.860246,810546.812800,1.599206e+07
3791,2007,United States,11.788207,3.554982,832175.318800,1.631252e+07
3792,2008,United States,11.973805,3.405562,892710.825200,1.633105e+07
3793,2009,United States,11.779478,3.201558,962957.815200,1.591028e+07
3794,2010,United States,12.336290,3.085677,990485.412100,1.633909e+07
3795,2011,United States,12.434307,3.112242,978756.991100,1.659470e+07
3796,2012,United States,11.990467,3.123810,924392.126400,1.697458e+07
3797,2013,United States,11.252127,3.447618,853288.955800,1.733407e+07
3798,2014,United States,10.418031,3.827161,800801.324500,1.777155e+07
3799,2015,United States,9.892660,4.016313,782616.268800,1.829502e+07
3800,2016,United States,9.626809,4.089232,780214.760300,1.862789e+07
3801,2017,United States,9.367407,4.041342,772175.855500,1.908569e+07
3802,2018,United States,9.349505,4.073351,795416.282200,1.965187e+07
3803,2019,United States,9.549711,4.446595,840614.812600,2.015964e+07
3804,2020,United States,8.246694,4.875768,880185.235600,1.972358e+07
3805,2021,United States,8.038668,4.904023,870751.189000,2.091785e+07
3806,2022,United States,9.323326,4.822442,860692.200000,2.144339e+07
3807,2023,United States,9.055287,4.461710,880070.557900,2.206258e+07
3808,1992,Uruguay,8.062599,2.237545,970.877500,2.886501e+04
3809,1993,Uruguay,8.062599,2.040728,937.094594,2.963211e+04
3810,1994,Uruguay,8.062599,2.000386,890.980057,3.178973e+04
3811,1995,Uruguay,8.062599,2.006178,916.926986,3.132954e+04
3812,1996,Uruguay,8.062599,1.777167,985.738230,3.307709e+04
3813,1997,Uruguay,8.062599,1.869525,973.639861,3.590441e+04
3814,1998,Uruguay,8.062599,1.822613,971.188960,3.752689e+04
3815,1999,Uruguay,8.062599,1.875808,997.113443,3.695613e+04
3816,2000,Uruguay,8.405493,1.719749,983.196360,3.624290e+04
3817,2001,Uruguay,8.246422,1.803670,975.598172,3.484968e+04
3818,2002,Uruguay,8.403284,1.816551,899.248957,3.215510e+04
3819,2003,Uruguay,7.395986,1.807430,782.603769,3.241404e+04
3820,2004,Uruguay,7.028942,1.820588,755.987874,3.403609e+04
3821,2005,Uruguay,6.978749,1.724565,765.738287,3.657523e+04
3822,2006,Uruguay,6.854658,1.813617,800.450888,3.807429e+04
3823,2007,Uruguay,6.089082,1.971272,764.565937,4.056492e+04
3824,2008,Uruguay,6.517605,1.885387,863.187136,4.347592e+04
3825,2009,Uruguay,6.143504,2.035838,882.852887,4.532082e+04
3826,2010,Uruguay,6.275072,2.101132,963.074845,4.885739e+04
3827,2011,Uruguay,5.987184,1.825309,936.406196,5.137947e+04
3828,2012,Uruguay,5.973187,2.000122,1021.174852,5.319737e+04
3829,2013,Uruguay,5.776174,2.849515,1071.986651,5.566442e+04
3830,2014,Uruguay,5.694031,2.792399,1106.153896,5.746727e+04
3831,2015,Uruguay,5.886128,2.577706,1121.940018,5.768033e+04
3832,2016,Uruguay,5.788201,2.714637,1149.470220,5.865501e+04
3833,2017,Uruguay,6.028356,2.805938,1214.259474,5.967583e+04
3834,2018,Uruguay,6.418907,2.399721,1319.901848,5.977416e+04
3835,2019,Uruguay,6.088599,2.258134,1274.347044,6.032907e+04
3836,2020,Uruguay,6.208209,2.394461,1306.880680,5.587670e+04
3837,2021,Uruguay,6.795670,2.435977,1437.213025,5.898450e+04
3838,2022,Uruguay,6.133649,2.502578,1297.897837,6.176106e+04
3839,2023,Uruguay,6.720356,2.530140,1411.138180,6.198801e+04

In [31]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840 entries, 0 to 3839
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               3840 non-null   int64
 1   Country            3840 non-null   object
 2   Defense_Share_GOV  3840 non-null   float64
 3   Defense_Share_GDP  3840 non-null   float64
 4   Defense_USD        3840 non-null   float64
 5   GDP                3840 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 180.1+ KB

In [32]:
df_merged.isna().sum()

Year                 0
Country              0
Defense_Share_GOV    0
Defense_Share_GDP    0
Defense_USD          0
GDP                  0
dtype: int64

In [33]:
df_merged["Country"].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus',
       'Belgium', 'Belize', 'Bolivia', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'Hungary',
       'India', 'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyz Republic', 'Latvia', 'Lebanon', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Tajikistan',
       'Tanzania', 'Thailand', 'Tunisia', 'Uganda', 'Ukraine',
       'United Kingdom', 'United States', 'Uruguay'], dtype=object)

In [35]:
# Your manual continent mapping dictionary (expand or adjust as needed)
continent_map = {
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Angola': 'Africa',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Bolivia': 'South America',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Cabo Verde': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Croatia': 'Europe',
    'Cyprus': 'Europe',
    'Czech Republic': 'Europe',
    'Denmark': 'Europe',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Guatemala': 'North America',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'South Korea': 'Asia',
    'Kuwait': 'Asia',
    'Kyrgyz Republic': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Moldova': 'Europe',
    'Mongolia': 'Asia',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Namibia': 'Africa',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Nigeria': 'Africa',
    'North Macedonia': 'Europe',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'South Africa': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Kingdom': 'Europe',
    'United States': 'North America',
    'Uruguay': 'South America',
    'Afghanistan': 'Asia',
    'Benin': 'Africa',
    'Bosnia and Herzegovina': 'Europe',
    'Central African Republic': 'Africa',
    'Congo, Dem. Rep.': 'Africa',
    'Congo, Rep.': 'Africa',
    'Costa Rica': 'North America',
    'Cuba': 'North America',
    'Djibouti': 'Africa',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Gabon': 'Africa',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Honduras': 'North America',
    'Iraq': 'Asia',
    'Ivory Coast': 'Africa',
    'Korea, North': 'Asia',
    'Laos': 'Asia',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Montenegro': 'Europe',
    'Myanmar': 'Asia',
    'Niger': 'Africa',
    'Panama': 'North America',
    'Qatar': 'Asia',
    'Serbia': 'Europe',
    'Somalia': 'Africa',
    'South Sudan': 'Africa',
    'Sudan': 'Africa',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Timor-Leste': 'Asia',
    'Togo': 'Africa',
    'Trinidad and Tobago': 'North America',
    'Turkmenistan': 'Asia',
    'United Arab Emirates': 'Asia',
    'Uzbekistan': 'Asia',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Yugoslavia': 'Europe',  # Historical country
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa',
    'Taiwan': 'Asia'
}

# Map continent to the 'Country' column in your df_merged
df_merged['Continent'] = df_merged['Country'].map(continent_map).fillna('Unknown')

# Check results
print(df_merged[['Country', 'Continent']].head())

   Country Continent
0  Albania    Europe
1  Albania    Europe
2  Albania    Europe
3  Albania    Europe
4  Albania    Europe

In [36]:
df_merged.head()

,Year,Country,Defense_Share_GOV,Defense_Share_GDP,Defense_USD,GDP,Continent
0,1992,Albania,4.424699,1.517217,165.549892,3527.709062,Europe
1,1993,Albania,4.424699,1.558592,151.533514,3864.937294,Europe
2,1994,Albania,4.424699,1.528266,144.847392,4185.837882,Europe
3,1995,Albania,4.424699,1.487083,134.975891,4743.489157,Europe
4,1996,Albania,4.424699,1.408982,121.210260,5175.146643,Europe

In [37]:

save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\all\merged_complete_long_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_merged.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\all\merged_complete_long_1992-2023.csv